<p>libros works!</p>
<div class="container">
    <table class="table table-striped" > 
        <thead>
            <tr>
                <th>Titulo</th>
                <th>autor</th>
                <th>Año</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{item.nombre}}</td>
            <td>{{item.autor}}</td>
            <td>{{item.publicacion}}</td>
            <td><button (click)="abriredicion(item.id)" >editar</button></td>
          </tr>
        </tbody>
    </table>
</div>
